# TYPO3 Configuration
TYPO3_CONTEXT=Development

# Database Configuration
TYPO3_DB_DRIVER=mysqli
TYPO3_DB_HOST=127.0.0.1
TYPO3_DB_PORT=3306
TYPO3_DB_NAME=typo3
TYPO3_DB_USER=root
TYPO3_DB_PASSWORD=

# Application
APP_NAME="Mens Circle Niederbayern"
APP_URL=http://localhost

# Mail Configuration (optional)
MAIL_FROM=noreply@mens-circle.de
MAIL_FROM_NAME="Mens Circle Niederbayern"
